* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    color: #444;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
}
